@use 'variables' as *;
@use 'mixins' as *;

.root {
  position: relative;
  padding-top: 12vh;
  padding-bottom: 10vh;
  @include sm { padding-top: 60px; padding-bottom: 40px; }
}

.titleWrap {
  position: sticky;
  top: 20vh;
  @include sm { position: static; margin-bottom: 40px; }
}

.list { align-items: flex-start; }

.item {
  margin-bottom: 9vh;
  will-change: transform;
  @include sm { margin-bottom: 48px; }
}

.img { width: 100%; }

.info { margin-top: 18px; }

.name { margin-bottom: 10px; }

.roles {
  opacity: 0.5;
  li { margin-top: 2px; }
}
